.todoitem{
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
  align-items: center;
}
.todoitemcontainer{
  display: flex;

}
.todoitemtext{
  padding-left: 16px;
  color:#404040 ;
  font-size: 22px;
}
.todoitemcrossicon{
  cursor: pointer;
  padding-right: 25px;

}

.linethrough{
  text-decoration: line-through  4px solid red;
}